---
layout: default
title: Kate Eyler-Werve
permalink: /kate/
---

<div class="small-12 large-8 large-push-2 columns">
  <nav class="row resume resume__nav">
    <div class="small-12 large-8 columns"><h1>Kate Eyler-Werve</h1></div>
    <div class="small-12 large-4 columns float-right">
      <!-- <a href="/kate" class="button">Back</a> -->
      <a href="/assets/documents/Kate-Eyler-Werve-resume.pdf" class="button">Printable resume</a>
    </div>
  </nav>
  <section class="row resume">
    <div class="small-12 columns">
      {% capture item %}{% include page/kate-resume.md %}{% endcapture %}
      {{ item | markdownify }}
    </div>
  </section>
</div>


<!-- <div class="row">
  <div class="small-12 columns text--shadow">
    <h1>Kate Eyler-Werve</h1>
  </div>
</div>

<div class="row">

  <div class="small-12 medium-5 columns">
    <section>
      {% capture item %}{% include page/kate-profile.md %}{% endcapture %}
      {{ item | markdownify }}
    </section>
  </div>
  <div class="small-12 medium-3 medium-push-1 columns">
    <section class="list">

    </section>
  </div>
  <div class="small-12 medium-3 columns">
    <section>
      <div class="image -border -polaroid show-for-medium">
        <img src="/assets/images/profile--kate.jpg"/>
      </div>
      <div class="list">

      </div>
    </section>
  </div>
</div> -->


