---
layout: default
title: Page1
---

<div class="row">

  <div class="small-12 medium-5 columns">
    <section>
      {% capture item %}{% include page/jonathan-profile.md %}{% endcapture %}
      {{ item | markdownify }}
    </section>
  </div>
  <div class="small-12 medium-3 columns">
    <section>
      {% capture item %}{% include page/jonathan-work.md %}{% endcapture %}
      {{ item | markdownify }}
    </section>
  </div>
  <div class="small-12 medium-3 columns">
    <section>
      <div class="show-for-medium-up"> Foo bar
        <img class="image--border -polaroid " src="assets/images/profile--jonathan.jpg"/>
      </div>
      {% capture item %}{% include page/jonathan-work.md %}{% endcapture %}
      {{ item | markdownify }}
    </section>
  </div>
</div>


