body {
  background-color: #eff1f1;
  color: black;
  font-family: "Vollkorn", Times, serif;
  font-size: 18px;
  line-height: 28px; }

ul {
  padding-left: 15px; }

ul._minimal {
  padding-left: 0px;
  margin-left: 0px; }

li {
  list-style-type: circle; }

ul._minimal li {
  list-style-type: none; }

h1, h2, h3, h4, h5, h6, .button, button {
  font-family: "Cabin", Helvetica, Ariel, sans-serif; }

h3 {
  line-height: 36px; }

i {
  color: #5d92b4; }

a {
  color: #467898;
  text-decoration: none; }

a.button {
  color: #FFFFFF;
  background-color: #467898;
  border-radius: 0px; }

a:hover {
  text-decoration: underline;
  color: #365c75; }

a:hover.button {
  text-decoration: none;
  background-color: #365c75; }

blockquote, blockquote p {
  color: #525A5C; }

.card {
  border: 1px solid #eff1f1;
  padding: 30px;
  background-color: #FFFFFF;
  border-radius: 5px; }

a.card {
  color: black;
  text-decoration: none;
  cursor: pointer; }

.alignright {
  float: right;
  padding-left: 30px; }

.alignleft {
  float: left;
  padding-right: 30px; }

.aligncenter {
  text-align: center; }

.main {
  padding: 30px; }

@media only screen and (min-width: 1024px) {
  .main {
    padding: 50px 0 0 0; } }
.blog h1, .blog h2, .blog h3, .blog h4, .blog h5, .blog h6 {
  line-height: 110%;
  margin-bottom: 30px; }
.blog h2 {
  margin-top: 50px; }
.blog h3, .blog h4, .blog h5, .blog h6 {
  margin-top: 30px; }
.blog li {
  margin: 15px 0; }

.blog--detail {
  margin-bottom: 0px; }

.blog--detail.-last {
  margin-bottom: 30px; }

@media only screen and (min-width: 640px) {
  .blog img.size-large {
    margin-top: 30px;
    margin-bottom: 30px; } }
.talk {
  display: flex;
  flex-direction: row; }

.talk__meta {
  display: flex;
  flex-direction: column;
  padding: 0 30px; }

.talk__leadimage {
  display: none;
  max-width: 500px;
  max-height: 300px; }

@media only screen and (min-width: 1024px) {
  .talk__leadimage {
    display: block; } }
.talk__title {
  display: inline-block;
  margin-bottom: 20px; }

.talk__embed {
  min-height: 200px;
  width: 100%; }

.talk-list ul {
  margin-top: 50px; }

.home h1 {
  color: white;
  font-family: "Overpass Mono", monospace; }

.home h3 {
  color: rgba(0, 255, 0, 0.8);
  font-family: "Overpass Mono", monospace; }

@media only screen and (min-width: 640px) and (max-width: 1024px) {
  .home h1 {
    font-size: 2.2rem; }

  .home h3 {
    font-size: 1.6rem; } }
.home a.button {
  font-family: "Overpass Mono", monospace;
  font-weight: 600;
  transition: background-color 1s ease-out, color 0.25s ease-out, border-color 0.5s ease-out;
  max-width: 420px; }

.home .button.hollow {
  color: rgba(0, 255, 0, 0.9);
  border-color: rgba(0, 255, 0, 0.2);
  background-color: rgba(0, 255, 0, 0.05);
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 5px; }

.home a:hover.button.hollow {
  color: #00FF00;
  border-color: #00FF00;
  background-color: rgba(0, 26, 17, 0.9); }

.home a.button.hollow:before {
  content: ">> ";
  color: rgba(0, 255, 0, 0.05);
  transition: color 0.5s ease-out; }

.home a.button.hollow:after {
  content: "  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>";
  color: rgba(0, 255, 0, 0.05);
  text-overflow: nowrap;
  transition: color 0.5s ease-out; }

.home a:hover.button.hollow:before {
  color: rgba(0, 255, 0, 0.4); }

.home a:hover.button.hollow:after {
  color: rgba(0, 255, 0, 0.4); }

.home--background {
  position: fixed;
  z-index: -1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  background-color: black; }

.home--background__1 {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 26, 17, 0.8);
  padding: 80px; }

@media only screen and (max-width: 640px) {
  .home--background__1 {
    padding: 50px 30px; } }
@media only screen and (min-width: 1024px) {
  .home--background__1 {
    height: 50%; } }
.home--background__2 {
  display: none;
  position: fixed;
  height: 50%;
  width: 100%;
  top: 50%;
  left: 0;
  background-color: rgba(0, 26, 17, 0.95);
  padding: 50px; }

@media only screen and (min-width: 1024px) {
  .home--background__2 {
    display: block; } }
.homeprimary--main {
  padding-bottom: 50px; }

@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .homeprimary--main {
    padding-left: 50px; } }
@media only screen and (min-width: 640px) {
  .home--background {
    background: url(/assets/images/background/hirise-dune-valley-optimized.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }
.header {
  position: absolute;
  z-index: -1000;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  display: block;
  background-color: pink;
  background: url(/assets/images/background/hirise-dune-valley-optimized.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.image img {
  border: 1px solid #525A5C; }

.-border {
  border: 12px solid #FFFFFF;
  -moz-box-shadow: 3px 3px 8px #525A5C;
  -webkit-box-shadow: 3px 3px 8px #525A5C;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#bbbbbb')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#bbbbbb');
  box-shadow: 3px 3px 8px #525A5C;
  margin-bottom: 20px; }

.-polaroid {
  border-bottom-width: 40px;
  margin-bottom: 40px; }

.list li {
  font-family: "Cabin", Helvetica, Ariel, sans-serif;
  font-size: 14px;
  margin-bottom: 14px;
  list-style: none;
  line-height: 16px; }

.list ul {
  margin: 10px 0 30px 0;
  padding: 0; }

.resume h2 {
  font-size: 26px;
  margin-top: 50px; }
.resume h3 {
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 0px; }
.resume h4 {
  font-size: 16px;
  color: #525A5C; }

@media only screen and (max-width: 640px) {
  .resume h1 {
    font-size: 36px; } }
.resume__nav {
  text-align: left; }
  .resume__nav .button {
    margin-top: 12px; }

nav ul li {
  display: inline;
  padding-right: 25px; }

nav {
  text-align: center; }

.text--blog-headline {
  line-height: 110%;
  margin-bottom: 30px; }

.text--caption, .wp-caption-text {
  font-family: "Cabin", Helvetica, Ariel, sans-serif;
  line-height: 120%;
  font-size: 16px;
  padding: 10px 20px;
  color: #525A5C; }
